.main {
    background: linear-gradient(to right top, var(--first-dark-primary-color), var(--first-primary-color));
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
