.header {
  width: calc(var(--block-width) * 12);
  height: 115px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}
.header-wrapper {
  width: 100%;
  height: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}
