@import '__element/shopping_basketlist__element.css';
@import '__h2/shopping_basketlist__h2.css';
@import '__md3/shopping_basketlist__md3.css';
@import '__my-auto/shopping_basketlist__my-auto.css';
@import '__p/shopping_basketlist__p.css';

.shopping_basketlist {
  background: var(--base-bg-color);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
