.primary-button {
    color: var(--primary-text);
    background: linear-gradient(var(--light-accent-color), var(--dark-accent-color));
    font-size: 19px;
    height: 41px;
    width: 197px;
    box-sizing: border-box;
    border: 2px solid var(--accent-color);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Source Sans Pro';
}

@media print {
  .primary-button {
    visibility: hidden;
  }
}
