.phone-field {
  width: 350px;
  height: 50px;
  border-radius: 100px;
  border: 3px solid rgba(251,251,251,.5);
  background-color: black;
  color: var(--primary-text);
  font-size: 19px;
  font-family: 'Source Sans Pro';
  padding: 0 19px;
}
