.shopping_basketlist__p{
  background-color: var(--secondary-text);
  border-top: 2px solid var(--sub-block-border-color);
  border-bottom: 2px solid var(--sub-block-border-color);
  color: var(--first-dark-primary-color);
  padding: 10pt 0;
}
